## Part I: Exploratory analysis (3 points)

Read the dataset correctly using pandas, using an appropriate column as index (1 point)

In [2]:
import pandas as pd

df = pd.read_csv('train.csv', index_col='PassengerId')
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Compute the percentage of survivors out of total number of passengers...

In [40]:
total = df.shape[0]
survivors = df[df['Survived'] == 1].shape[0]
survivors_per = survivors/total
print(f"Percentage of survivors: {round(survivors_per*100,2)}%")

Percentage of survivors: 38.38%

...and the percentage of men and women out of total number of passengers (0.5 points)

In [4]:
men = df[df['Sex'] == 'male'].shape[0]
woman = df[df['Sex'] == 'female'].shape[0]
men_per = men/total
woman_per = woman/total
print(f"Percentage of male: {round(men_per*100,2)}%")
print(f"Percentage of female: {round(woman_per*100,2)}%")

Percentage of male: 64.76%
Percentage of female: 35.24%

Compute the percentage of survivors by sex (i.e. the percentage of male passengers that survived and female passengers that survived)...

In [5]:
surv_men = df[(df['Sex'] == 'male') & (df['Survived'] == 1)].shape[0]
surv_woman = df[(df['Sex'] == 'female') & (df['Survived'] == 1)].shape[0]

surv_men_per = surv_men / men
surv_woman_per = surv_woman / woman
print(f"Percentage of male passengers who survived: {round(surv_men_per*100,2)}%")
print(f"Percentage of female passengers who survived: {round(surv_woman_per*100,2)}%")

Percentage of male passengers who survived: 18.89%
Percentage of female passengers who survived: 74.2%

...and the sex distribution of survivors (i.e. percentage of survivors that were men and percentage of survivors that were women) (0.5 points)

In [6]:
male_surv_per = (surv_men / survivors)
female_surv_per = (surv_woman / survivors)
print(f"Percentage of survivors who were men: {round(male_surv_per * 100, 2)}%")
print(f"Percentage of survivors who were women: {round(female_surv_per * 100, 2)}%")

Percentage of survivors who were men: 31.87%
Percentage of survivors who were women: 68.13%

Display in a 2 x 2 DataFrame the probability of being male/female and surviving/not surviving (0.5 points)

One possible option:

|            | **Survived**      | **Not survived**      |
|------------|-------------------|-----------------------|
| **Male**   | Male & Survived   | Male & Not survived   |
| **Female** | Female & Survived | Female & Not survived |

Notice that the sum of all values in the table above should be 1 (or 100 %).

In [7]:
sex_and_survived = df.groupby(['Sex', 'Survived']).size()

prob = sex_and_survived / total

prob = prob.unstack()
prob = prob.rename(columns={0: 'Not Survived', 1: 'Survived'})
prob

Survived  Not Survived  Survived
Sex
female        0.090909  0.261504
male          0.525253  0.122334

Display in a DataFrame the probability of survival/not survival of all combinations of sex and class (0.5 points)

One possible option:

|            |   | **Survived**              | **Not survived** |
|------------|---|---------------------------|------------------|
| **Male**   | 1 | Male & Survived & Class 1 | ...              |
|            | 2 | Male & Survived & Class 2 | ...              |
|            | 3 | Male & Survived & Class 3 | ...              |
| **Female** | 1 | ...                       | ...              |
|            | 2 | ...                       | ...              |
|            | 3 | ...                       | ...              |

Notice that the sum of all values in the table above should be 1 (or 100 %).

In [8]:
total_prob = df.groupby(['Sex', 'Pclass', 'Survived']).size()
prob2 = total_prob / total
prob2 = prob2.unstack()
prob2 = prob2.rename(columns={0: 'Not Survived', 1: 'Survived'})
prob2

Survived       Not Survived  Survived
Sex    Pclass
female 1           0.003367  0.102132
       2           0.006734  0.078563
       3           0.080808  0.080808
male   1           0.086420  0.050505
       2           0.102132  0.019080
       3           0.336700  0.052750

## Part II: More insights on the data (3 points)

Present 3 insights about the dataset, each of them relating at least 3 different variables, and support them by code and numbers. Possible examples:

- "**Men** aged **less than 18** were more/less likely to **survive** than the average passenger" (Sex, Age, Survival)
- "**Women** with **no siblings or spouses** paid on average a cheaper/pricier **ticket** than the average woman" (Sex, SibSp, Fare)
- "**Men** with a **title other than Mr.** were more/less likely to have a known (i.e. non-missing) **cabin** than the average man" (Sex, Name, Cabin)

(Using these exact examples is valid, but awards fewer points than proposing original insights)

_Hint: If you want to work with lists and dictionaries rather than pandas objects, you can do_

```python
recs = df.to_dict(orient="records")
```

Data description:
Survival - Survival (0 = No; 1 = Yes)
Pclass - Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)
Name - Name
Sex - Sex
Age - Age
Sibsp - Number of Siblings/Spouses Aboard
Parch - Number of Parents/Children Aboard
Ticket - Ticket Number
Fare - Passenger Fare
Cabin - Cabin
Embarked - Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)

In [9]:
df.head(1)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [61]:
# Assuming your DataFrame is named 'df'
embarked = df.groupby(['Embarked', 'Sex', 'Survived']).size()
embarked = (embarked / total ) * 100
embarked = embarked.unstack()

embarked

Survived                 0          1
Embarked Sex
C        female   1.010101   7.182941
         male     7.407407   3.254770
Q        female   1.010101   3.030303
         male     4.264871   0.336700
S        female   7.070707  15.712682
         male    40.852974   8.641975

In [62]:
row_totals = embarked.sum(axis=1)
column_totals = embarked.sum()

embarked.loc['Total'] = column_totals
embarked['Total'] = row_totals
embarked

Survived             0          1      Total
(C, female)   1.010101   7.182941   8.193042
(C, male)     7.407407   3.254770  10.662177
(Q, female)   1.010101   3.030303   4.040404
(Q, male)     4.264871   0.336700   4.601571
(S, female)   7.070707  15.712682  22.783389
(S, male)    40.852974   8.641975  49.494949
Total        61.616162  38.159371        NaN

In [63]:
embarked = df.groupby(['Embarked', 'Survived']).size().unstack()
total_per_embarked = df.groupby('Embarked').size()
embarked_probability = embarked.apply(lambda x: (x / total_per_embarked[x.name]) * 100, axis=1)
embarked_probability

Survived          0          1
Embarked
C         44.642857  55.357143
Q         61.038961  38.961039
S         66.304348  33.695652

In [64]:
print('After a research on the Internet looking for the documentation of the dataset, we know the following:')
print('''
- Data description:
    * Survival - Survival (0 = No; 1 = Yes)
    * Pclass - Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)
    * Name - Name
    * Sex - Sex
    * Age - Age
    * Sibsp - Number of Siblings/Spouses Aboard
    * Parch - Number of Parents/Children Aboard
    * Ticket - Ticket Number
    * Fare - Passenger Fare
    * Cabin - Cabin
    * Embarked - Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)''')

After a research on the Internet looking for the documentation of the dataset, we know the following:

- Data description:
    * Survival - Survival (0 = No; 1 = Yes)
    * Pclass - Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)
    * Name - Name
    * Sex - Sex
    * Age - Age
    * Sibsp - Number of Siblings/Spouses Aboard
    * Parch - Number of Parents/Children Aboard
    * Ticket - Ticket Number
    * Fare - Passenger Fare
    * Cabin - Cabin
    * Embarked - Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)

In [65]:
print("Insight 1:")
print(" After analyzing the relation between Port of Embarkation, Sex and Survival, we conclude:")
print(" - Overall Survival: Survival rates were highest for passengers who embarked from Cherbourg (55.36%), followed by Queenstown (38.96%) and Southampton (33.70%).")
print(" - Gender Influence: In all ports, female passengers had a higher survival rate than males.")
print(" - Port & Gender: Cherbourg had the highest survival rates for both genders, while Southampton had the most passengers.")

Insight 1:
 After analyzing the relation between Port of Embarkation, Sex and Survival, we conclude:
 - Overall Survival: Survival rates were highest for passengers who embarked from Cherbourg (55.36%), followed by Queenstown (38.96%) and Southampton (33.70%).
 - Gender Influence: In all ports, female passengers had a higher survival rate than males.
 - Port & Gender: Cherbourg had the highest survival rates for both genders, while Southampton had the most passengers.