## Part I: Exploratory analysis (3 points)

Read the dataset correctly using pandas, using an appropriate column as index (1 point)

In [1]:
import pandas as pd

df = pd.read_csv('train.csv', index_col='PassengerId')
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Compute the percentage of survivors out of total number of passengers...

In [33]:
total = df['Survived'].count()
survivors = df[df['Survived'] == 1]['Survived'].count()
survivors_per = survivors/total
print(f"Percentage of survivors: {round(survivors_per*100,2)}%")

Percentage of survivors: 38.38%

...and the percentage of men and women out of total number of passengers (0.5 points)

In [32]:
men = df[df['Sex'] == 'male']['Sex'].count()
woman = df[df['Sex'] == 'female']['Sex'].count()
men_per = men/total
woman_per = woman/total
print(f"Percentage of male: {round(men_per*100,2)}%")
print(f"Percentage of female: {round(woman_per*100,2)}%")

Percentage of male: 64.76%
Percentage of female: 35.24%

Compute the percentage of survivors by sex (i.e. the percentage of male passengers that survived and female passengers that survived)...

In [29]:
surv_men = df[(df['Sex'] == 'male') & (df['Survived'] == 1)]['Survived'].count()
surv_woman = df[(df['Sex'] == 'female') & (df['Survived'] == 1)]['Survived'].count()

surv_men_per = surv_men / men
surv_woman_per = surv_woman / woman
print(f"Percentage of male passengers who survived: {round(surv_men_per*100,2)}%")
print(f"Percentage of female passengers who survived: {round(surv_woman_per*100,2)}%")

Percentage of male passengers who survived: 18.89%
Percentage of female passengers who survived: 74.2%

...and the sex distribution of survivors (i.e. percentage of survivors that were men and percentage of survivors that were women) (0.5 points)

Display in a 2 x 2 DataFrame the probability of being male/female and surviving/not surviving (0.5 points)

One possible option:

|            | **Survived**      | **Not survived**      |
|------------|-------------------|-----------------------|
| **Male**   | Male & Survived   | Male & Not survived   |
| **Female** | Female & Survived | Female & Not survived |

Notice that the sum of all values in the table above should be 1 (or 100 %).

Display in a DataFrame the probability of survival/not survival of all combinations of sex and class (0.5 points)

One possible option:

|            |   | **Survived**              | **Not survived** |
|------------|---|---------------------------|------------------|
| **Male**   | 1 | Male & Survived & Class 1 | ...              |
|            | 2 | Male & Survived & Class 2 | ...              |
|            | 3 | Male & Survived & Class 3 | ...              |
| **Female** | 1 | ...                       | ...              |
|            | 2 | ...                       | ...              |
|            | 3 | ...                       | ...              |

Notice that the sum of all values in the table above should be 1 (or 100 %).

## Part II: More insights on the data (3 points)

Present 3 insights about the dataset, each of them relating at least 3 different variables, and support them by code and numbers. Possible examples:

- "**Men** aged **less than 18** were more/less likely to **survive** than the average passenger" (Sex, Age, Survival)
- "**Women** with **no siblings or spouses** paid on average a cheaper/pricier **ticket** than the average woman" (Sex, SibSp, Fare)
- "**Men** with a **title other than Mr.** were more/less likely to have a known (i.e. non-missing) **cabin** than the average man" (Sex, Name, Cabin)

(Using these exact examples is valid, but awards fewer points than proposing original insights)

_Hint: If you want to work with lists and dictionaries rather than pandas objects, you can do_

```python
recs = df.to_dict(orient="records")
```